body {
	margin:0;
	font-family: 'Roboto';
}

#menu {
  	width: 260px;
  	position: fixed;
  	height: 100%;
  	background-color: #f96332;
}

#logo {
    padding: 0.5rem 0.7rem;
    font-size: 1.5em;
    text-align: center;
}

ul {
  	list-style-type: none;
  	padding: 0;
}

#menu p {
	margin: 0;
    line-height: 30px;
    padding-left: 10px;
}

a {
	margin: 10px 15px 0;
    border-radius: 30px;
    color: #FFFFFF;
    display: block;
    text-transform: uppercase;
    padding: 10px 8px;
    text-decoration: none;
    transition: all 1000ms ease 0s;
}

div.content {
  margin-left: 400px;
  padding: 1px 16px;
  height: 1000px;
}

hr {
    height: 0.1px;
    width: 85%;
    background-color: #FFFFFF;
}

ul a:hover {
	background-color: rgba(255,255,255,0.2);
	transition: all 200ms ease 0s;
}

ul img {
	width: 25px;
	height: auto;
	margin-right: 20px;
}

ul a:active {
	background-color: #FFFFFF;
	color: #f96332;
}