.mediano{
    width: 150px;
    margin-right: 10px;
    margin-bottom: 15px;
}
.espacio{
    margin-right: 10px;

}
#datos{

}

#botones{

}
#linea{
    background-color: #f96332 ;
    height: 1px;
    margin-right: 40px;
}
.boton{

    padding: 5px;
    font-size: 15px;
    color: #ffffff;
    background-color: #f96332;
    border-radius: 10px;
    border: 1px solid #f96332;
}