/*GRAFICA*/

#miGrafica canvas{
    width: 200px;
    height: 150px;
}

/*ABOUT US*/

#menu {
    width: 15%;
    position: fixed;
    height: 100%;
    background-color: #f96332;
}

#logoMenu {
    padding: 0.5rem 0.7rem;
    font-size: 1.5em;
    text-align: center;
}

#menu ul {
    list-style-type: none;
    padding: 0;
}

#menu p {
    margin: 0;
    line-height: 30px;
    padding-left: 10px;
}

#menu a {
    margin: 10px 15px 0;
    border-radius: 30px;
    color: #FFFFFF;
    display: block;
    text-transform: uppercase;
    padding: 10px 8px;
    text-decoration: none;
    transition: all 1000ms ease 0s;
}

#menu hr {
    height: 0.1px;
    width: 85%;
    background-color: #FFFFFF;
}

#menu ul a:hover {
    background-color: rgba(255,255,255,0.2);
    transition: all 200ms ease 0s;
}

#menu ul img {
    width: 25px;
    height: auto;
    margin-right: 20px;
}

#menu ul a:active {
    background-color: #FFFFFF;
    color: #f96332;
}

#logo {
    position: absolute;
    top: 50px;
    right: 150px;
    width: 500px;
}

#menuHorizontal {
    background: url("images/fondo2.jpg") no-repeat;
    background-size: cover;
    display: inline-flex;
    width: 85%;
    height: 750px;
    float: right;
    color: #0085A1;
    text-align: center;
    justify-content: flex-end;
    align-items: flex-end;
}

#menuHorizontal ul li {
    color: #FFFFFF;
    list-style-type: none;
    padding: 25px;
    transition: all 1000ms ease 0s;
    float: left;
}

#menuHorizontal li:hover {
    background-color: rgba(255,255,255,0.2);
    border-radius: 15px;
}

#panelArriba {
    height: 150px;
    width: 85%;
    float: right;
    color: #0085A1;
    text-align: center;
}

h1 {
    font-size: 70px;
    color: #0085A1;
    padding-left: 20px;
    margin-bottom: 20px;
}

.eslogan {
    color: #0085A1;
    font-size: 40px;
    padding: 0px 0px 0px 20px;
    margin-top: 100px ;
}

h4 {
    padding-left: 15px;
}

#panelAbajo {
    color: #0085A1;
    height: auto;
    width: 85%;
    float: right;
    color: white;
}

.horizontal {
    background-color: #0085A1;
    border-radius: 30px;
    height: 5px;
    width: 5%;
    margin:0px 0px 30px 30px;
}

#servicios {
    display: flex;
    width: 100%;
    height: auto;
    margin: 20px 0px 150px 0px;
}

.columna {
    width: 33%;
    height: auto;
    background-color: white;
    color: #0085A1;
    padding: 20px;
    margin:10px;
}

* {
    box-sizing: border-box;
}

.columna img {
    height: 50px;
    width: auto;
    display:block;
    margin:auto;
    margin-bottom: 40px;
}


#informacion {
    width: 65%;
    padding: 50px 250px 0px 100px;
    background-color: #0085A1;
}

#imagenes {
    padding: 15px;
    width: 35%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#imagenes img {
    width: 120px;
    height: auto;
}

#Fortalezas {
    width: 100%;
    height: 600px;
    display: flex;
    margin: 75px 0px 150px 0px;
}

.fortaleza {
    margin-bottom: 75px;
}

#panelAbajo ul li {
    list-style-type: none;
    padding: 15px;
}

#quienesSomos {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    height: 1400px;
    margin: 0 auto;
    background-color: white;
    padding: 10px 0px 10px 30px;
    margin-bottom: 200px;
    margin-top: 75px;
}

.columna2 {
    margin-right: 15px;
    width: 47%;
    background-color: white;
    color: #0085A1;
    height: 300px;
}


.mas {
    width: 100px;
    position: relative;
    bottom: 200px;
    left: 140px;
    visibility: hidden;
}

.columna2 p {
    padding-left: 15px;
}

#quienesSomos .persona {
    width: 100%;
    height: auto;
    transition: transform ease 500ms;
}

.text{
    position: relative;
    bottom: 150px;
    color: black;
    display:block;
    width:100%;
    text-align:center;
transform(0px,0px,1);
    transition;
}

.persona:hover{
    transform:scale(0.25);
    border-radius: 75%;
}

.persona:hover #quienesSomos{
    background-color: black;
}

#headerEquipo {
    padding: 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    max-width: 1200px;
}

#float h2 {
    color: #0085A1;
    font-size: 40px;
    padding: 0px 0px 0px 20px;
}

#textoEquipo {
    color: #0085A1;
    width: 40%;
    font-size: 20px;
    float: right;
}

#formulario {
    max-width: 1000px;
    height: 500px;
    width: 80%;
    margin: 0 auto;
    display: block;
    justify-content: center;
    color: blue;
}

form {
    text-align: center;
    padding-top: 20px;
}

button {
    background-color: #827ffe;
    width: 11%;
}

button:hover {
    cursor: pointer;
}

input,textarea,button {
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    border: none;
    transition: transform ease 1000ms
}

input,textarea {
    width: 50%;
}

textarea {
    height: 150px;
}

input:hover,textarea:hover,button:hover {
    transform:  scale(1.1);
}

#formulario form img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

footer {
    margin: 150px 0px 50px 0px;
    background-color: #FFFFFF;
    height: 200px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

footer img {
    width: 80px;
    height: auto;
    margin: 10px;
}

.horizontal2 {
    height: 10px;
    width: 5%;
    background-color: #F0F0F0;
    margin: 0px 15px;
}

#textoFooter {
    color: #0085A1;
    text-align: center;
    font-size:14px;
    margin-bottom: 30px;
}

/*SANDBOX*/
.mediano{
    width: 150px;
    margin-right: 10px;
    margin-bottom: 15px;
}
.espacio{
    margin-right: 10px;

}
#datos{

}

#botones{

}
#linea{
    background-color: #f96332 ;
    height: 1px;
    margin-right: 40px;
}
.boton{

    padding: 5px;
    font-size: 15px;
    color: #ffffff;
    background-color: #f96332;
    border-radius: 10px;
    border: 1px solid #f96332;
}
/*NAVEGADOR LATERAL*/
body {
    margin:0;
    font-family: 'Roboto';
    margin:0;
    padding: 0;
    background-color: #F0F0F0;
}

#menu {
    width: 260px;
    position: fixed;
    height: 100%;
    background-color: #f96332;
}

#logo {
    padding: 0.5rem 0.7rem;
    font-size: 1.5em;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

#menu p {
    margin: 0;
    line-height: 30px;
    padding-left: 10px;
}

a {
    margin: 10px 15px 0;
    border-radius: 30px;
    color: #FFFFFF;
    display: block;
    text-transform: uppercase;
    padding: 10px 8px;
    text-decoration: none;
    transition: all 1000ms ease 0s;
}

div.content {
    margin-left: 300px;
    padding: 1px 16px;
    height: 1000px;
}

hr {
    height: 0.1px;
    width: 85%;
    background-color: #FFFFFF;
}

ul a:hover {
    background-color: rgba(255,255,255,0.2);
    transition: all 200ms ease 0s;
}

ul img {
    width: 25px;
    height: auto;
    margin-right: 20px;
}

ul a:active {
    background-color: #FFFFFF;
    color: #f96332;
}